<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>MODIFIER VOTRE ANNONCE :</h2>
      <hr style="margin-top:1em; margin-bottom:1em">
      <%= simple_form_for @petsitter do |r| %>
        <%= r.input :description, label: 'Décrivez-vous et vos services proposés :',  placeholder: 'Exemple : Bonjour, je propose de sortir vos chiens et de caliner vos chats avec plaisir ! '%>


        <%= r.input :category, collection: (%w(chien chat éléphant kangal hamster tortue)) %>

        <%= r.input :location, label: 'Le secteur où vous proposez vos services :',   placeholder: '13009 Aix-en-Provence'%>

        <label for="price">Price :</label>
        <div class="input-group">
          <%= r.input :price, label: false,   placeholder: '10', class: "form-control currency", id: "c2" %>
          <span class="input-group-addon">€</span>
        </div>

        <%= r.button :submit, value: 'Garder des annimaux', class: 'btn-success btn-block', style: "margin-top:1em; margin-bottom:1em" %>
      <% end %>
    </div>
  </div>
  <%= link_to '<-- Revenir aux annonces', petsitters_path, class: "btn btn-default"%>
</div>


