<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>A propos : <%= @petsitter.description %></h2>
      <p><b>Accepte les:</b> <%= @petsitter.category %></p>
      <p><b>Votre animal sera hébergé:</b> <%= @petsitter.location %></p>
      <p><b>Le prix sera de</b> <%= @petsitter.price %>€</p>
      <%= link_to 'Revenir aux annonces', petsitters_path %>
    </div>
  </div>
</div>
