<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>ANNONCE :</h2>
      <hr>

      <div>
        <h3><%= @petsitter.description %></h3>
        <% if @petsitter.photo? %>
          <%= cl_image_tag @petsitter.photo.path, width: 400, height: 300, crop: :fill %>
        <% end %>
        <p><b>J'accepte les :</b> <%= @petsitter.category %></p>
        <p><b>L'animal sera hébergé au :</b> <%= @petsitter.location %></p>
        <p><b>Le prix par jour est de :</b> <%= @petsitter.price %>€</p>


        <%= link_to new_petsitter_booking_path(@petsitter.id), class: "btn btn-success" do%>
          <i class="fa fa-handshake-o" aria-hidden="true"></i> Réserver
        <% end  %>

      </div>
      <hr style="margin-top: 10px; margin-bottom: 10px;">
    </div>
  </div>


  <div class="reviews">
    <% @petsitter.user.reviews.each do |f| %>
      <div class="row bordure_fine fond-blanc">
        <ul>
          <div class="col-md-2 col-xs-12">
            <li>
            <%= cl_image_tag current_user.photo.path, width: 100, height: 100, crop: :fill, class: "avatar" %>
            </li>
          </div>

          <div class="col-md-10 col-xs-12">
            <li>
              <strong><%= @petsitter.user.name %></strong> :
            </li>
            <li>
              <p><%= f.comment %></p>
              <% 5.times do |i| %>
                <% if i < f.rating %>
                  <i class="fa fa-star"></i>
                <% else %>
                  <i class="fa fa-star-o"></i>
                <% end %>
              <% end %>
            </li>
          </div>
        </ul>
      </div>
    <% end %>
  </div>







  <%= link_to '<-- Revenir aux annonces', petsitters_path, class: "btn btn-default" %>
</div>
