<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>ANNONCE :</h2>
      <hr>

      <div>
        <h3><%= @petsitter.description %></h3>
        <% if @petsitter.photo? %>
          <%= cl_image_tag @petsitter.photo.path, width: 400, height: 300, crop: :fill %>
        <% end %>
        <p><b>J'accepte les :</b> <%= @petsitter.category %></p>
        <p><b>L'animal sera hébergé au :</b> <%= @petsitter.location %></p>
        <p><b>Le prix par jour est de :</b> <%= @petsitter.price %>€</p>

        <%= link_to petsitter_path(@petsitter.id), class: "btn btn-danger",
        data: { confirm: "Etes vous certain?" },
        method: :delete  do%>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end  %>

        <%= link_to edit_petsitter_path(@petsitter.id), class: "btn btn-primary" do%>
          <i class="fa fa-pencil" aria-hidden="true"></i>
        <% end  %>

        <%= link_to new_petsitter_booking_path(@petsitter.id), class: "btn btn-success" do%>
          <i class="fa fa-handshake-o" aria-hidden="true"></i> Réserver
        <% end  %>

      </div>
      <hr style="margin-top: 10px; margin-bottom: 10px;">
    </div>
  </div>

  <div class="reviews">

  <%= @petsitter.user.reviews %>
  </div>
  <%= link_to '<-- Revenir aux annonces', petsitters_path, class: "btn btn-default" %>
</div>
