<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Modifier Votre Réservation :</h2>
      <hr>
      <%= simple_form_for [@booking.petsitter, @booking] do |r| %>
       <%= r.input :date_start, as: :date, html5:true,  label: 'Date du début'%>
        <%= r.input :date_end, as: :date, html5:true, label: 'Date de fin'%>
        <%= r.button :submit, value: 'Faire garder mon animal', class: 'btn-success btn-block' %>
      <% end %>
    </div>
  </div>
  <%= link_to '<-- Revenir à mon tableau de bord', dashboard_path, class: "btn btn-default" %>
</div>

