<div class="container">
  <%= image_tag "logo.png", class: "text-center" %>
  <h2>Confirmer votre réservation</h2>

  <div>
    <%= simple_form_for @booking do |r| %>
     <%= r.input :date_start, label: 'Date de début :'%>
     <%= r.input :date_end, label: 'Date de fin :'%>
    <%= r.button :submit, value: 'Confirmer la réservation', class: 'btn-success btn-block' %>
    <% end %>
  </div>
</div>
