<div class=" container" >
<div class="bordure_grise">
  <h3><i class="fa fa-calendar" aria-hidden="true"></i>Votre réservation</h3>
    <div style="  padding: 15px;">
      <ul>

        <li> <strong>Prix de la réservation</strong> : <%= @booking.total_price %> €</li>
        <li><strong>Votre <%= @booking.petsitter.category %> se fera garder du</strong> : <%= @booking.date_start %><strong> au </strong><%= @booking.date_end %> </li>
        <li><strong>Durée du petsitting:</strong> <%= (@booking.date_end.to_date - @booking.date_start.to_date).to_i %> jours</li>
        <li><strong>Votre commande est</strong> : <button> <%= @booking.status %></button></li>
      </ul>
      <hr>
      <%= link_to "MODIFIER",

          edit_petsitter_booking_path(@booking),
          class: "btn btn-primary btn-lg  navbar-wagon-link" %>
    </div>
</div>


      <% @booking.reviews.each do |f| %>
        <div class="row bordure_fine fond-blanc">
          <ul>
            <div class="col-md-2 col-xs-12">
              <li>
              <%= cl_image_tag current_user.photo.path, width: 100, height: 100, crop: :fill, class: "avatar" %>
              </li>
            </div>

            <div class="col-md-10 col-xs-12">
              <li>
                <strong><%= current_user.name %></strong> :
              </li>
              <li>
                <p><%= f.comment %></p>
                <% 5.times do |i| %>
                  <% if i < f.rating %>
                    <i class="fa fa-star"></i>
                  <% else %>
                    <i class="fa fa-star-o"></i>
                  <% end %>
                <% end %>
              </li>
            </div>
          </ul>
        </div>
      <% end %>
      <%= link_to 'Ajouter un commentaire', new_petsitter_booking_review_path(@booking.petsitter, @booking), class: "btn btn-default" %>
</div>
</div>
