<div class="container">
  <h2>Bonjour <%=current_user.name %>, voici votre tableau de bord !</h2>
  <div class="row">

    <div class="col-xs-12 col-md-4 ">
      <div class="bordure_grise fond-blanc" >
        <div style="  padding: 15px;">
            <%= cl_image_tag current_user.photo.path, width: 180, height: 180, crop: :fill, class: "avatar" %>
            <%= link_to "Modifier mes informations", edit_user_registration_path, class: " btn btn-primary btn-lg  navbar-wagon-link" %>
            <%= link_to user_registration_path, class: "btn btn-danger btn-lg  navbar-wagon-link",
            data: { confirm: "Etes vous certain?" },
            method: :delete  do%>
              Supprimer mon compte
            <% end  %>

          </div>
      </div>

        <div class="bordure_grise fond-blanc" >
          <h3><i class="fa fa-comments" aria-hidden="true"></i>Mes messages</h3>
          <div style="  padding: 15px;">
              <p> 1 message non lu !</p>
              <%= link_to "Voir mes messages", edit_user_password_path, class: " btn btn-primary btn-lg  navbar-wagon-link" %>
          </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-7">



      <div class="bordure_grise fond-blanc" >
        <h3><i class="fa fa-calendar" aria-hidden="true"></i>Mes reservations</h3>
        <div style="  padding: 15px;">
            <ul>
            <% @bookings.each do |booking| %>
            <hr>
            Réservation n°<%= booking.id%> du <%= booking.date_start %> au <%= booking.date_end %>
            <br>
            Etat de votre réservation : <%= booking.status %>
            <br>
            <%= link_to petsitter_booking_path(booking.petsitter,booking), class: "btn btn-danger",
                data: { confirm: "Etes vous certain?" },
                method: :delete  do%>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end  %>

            <%= link_to edit_petsitter_booking_path(booking.petsitter,booking), class: "btn btn-primary" do%>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end  %>
            <% end %>
          </ul>
            <hr>
            <%= link_to "Faire une reservation", petsitters_path, class: " btn btn-primary btn-lg  navbar-wagon-link" %>
        </div>
      </div>


      <div class="bordure_grise fond-blanc" >
        <h3><i class="fa fa-address-card-o" aria-hidden="true"></i>Mes annnonces</h3>
        <div style="  padding: 15px;">
            <%#binding.pry %>
            <% if !current_user.petsitters.empty? %>

            <ul>
              <% @petsitters.each do |petsitter| %>
              <hr>
              Annonce n°<%= petsitter.id%> : <%= petsitter.description %>

            <%= link_to petsitter_path(petsitter.id), class: "btn btn-danger",
                data: { confirm: "Etes vous certain?" },
                method: :delete  do%>
                <i class="fa fa-times" aria-hidden="true"></i>
              <% end  %>

            <%= link_to edit_petsitter_path(petsitter.id), class: "btn btn-primary" do%>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end  %>
            <% end %>
          </ul>
            <% else %>
            <hr>
            <%= link_to "Créer une annonce", new_petsitter_path, class: " btn btn-primary btn-lg  navbar-wagon-link" %>
            <% end %>
        </div>
      </div>



      <div class="bordure_grise fond-blanc" >
        <h3><i class="fa fa-commenting" aria-hidden="true"></i>Mes commentaires</h3>
        <div style="  padding: 15px;">
          <p style="font-style: italic;"><i class="fa fa-quote-left" aria-hidden="true"></i>
           $commentaire
          <i class="fa fa-quote-right align-right" aria-hidden="true"></i></p>
          <div class="row">
            <div class="col-xs-6">
             <p> $rating</p>
            </div>

            <div class="col-xs-6">
             <p> $name</p>
            </div>

          </div>

        </div>
      </div>



    </div>
  </div>
</div>


<style>



  .bordure_grise h3 {
  background-color: #ccc;
  border-bottom: 1px grey solid;
  margin:0;
  font-size: 1.2em;
  padding: 0.4em;
  }
  .bordure_grise {
  border: 1px grey solid;
  border-radius: 4px;
  text-align: center;

  margin-bottom: 2em;
  }
  .bordure_grise a {
    color: #cccccc;
  }

  .bordure_grise i {
    margin-right: 3px;
    margin-left: 3px;
  }
  .avatar {
/*    height: 10em;
    width: 10em;*/
    border-radius: 50%;
  }
  .fond-blanc {
    background-color: white;
  }

  .etoiles {
    text-align: left;
  }

  .com-name {
    text-align: right;
  }
</style>
