<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Petsy : Garde d'annimaux</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <%# <script>
  !function(p,i,s,a,n,o){p.PisanoObject=s;p[s]||(p[s]=function(){
  (p[s].q=p[s].q||[]).push(arguments)});p[s].l=+new Date;n=i.createElement(a);
  o=i.getElementsByTagName(a)[0];n.src='https://www.pisano.co/scripts/widget/widget.js';
  o.parentNode.insertBefore(n,o)}(window,document,'Pisano','script');
  Pisano('boot', 'PSN-93y6rf3');
</script> %>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
